:root
{
    --background-color: #2a2a2e;
    --accent-color: aqua;
    --dark-accent: #ffffff;
    --header-color: #2a2a2e;
    --exp-color: #F4F4F4;
    --dark-blue: #386F86;
    --bright-blue: #45FFE9;
    --light-orange: #FFD800;
    --dark-orange: #FFBC07;
}

/* ------------ Fonts ------------------- */
/* ClashDisplay */
@font-face 
{
    font-family: ClashDisplay-Bold;
    src: url("../../static/fonts/OTF/ClashDisplay-Bold.woff");
    font-weight: bold;
}

@font-face 
{
    font-family: ClashDisplay-Extralight;
    src: url("../../static/fonts/OTF/ClashDisplay-Extralight.ttf");
}

@font-face 
{
    font-family: ClashDisplay-Light;
    src: url("../../static/fonts/OTF/ClashDisplay-Light.ttf");
}

@font-face 
{
    font-family: ClashDisplay-Regular;
    src: url("../../static/fonts/OTF/ClashDisplay-Regular.ttf");
}

@font-face 
{
    font-family: ClashDisplay-Medium;
    src: url("../../static/fonts/OTF/ClashDisplay-Medium.ttf");
}

@font-face 
{
    font-family: ClashDisplay-Semibold;
    src: url("../../static/fonts/OTF/ClashDisplay-Semibold.ttf");
    font-weight: bold;
}

@font-face 
{
    font-family: ClashDisplay-Variable;
    src: url("../../static/fonts/OTF/ClashDisplay-Variable.woff") format("woff");
}

body
{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 50000px;
    background-color: var(--dark-accent);
    /* background-color: #2a2a2e; */
    overflow-x: hidden !important;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body.stop-scroll
{
    overflow: hidden;
}



.menuModal
{
    overflow-x: hidden;
    display: none;
    position: absolute;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    background-color: #2a2a2e;
    z-index: 19;
    transform-origin: top left;
    transition: transform 0.5s ease-in-out;
    transform: translateY(100%);
}

.menuModal.visible.open
{
    position: fixed;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    z-index: 19;
    transform: translateY(0vh);
    will-change: transform;
    transform-origin: top left;
}

.menuModal.visible
{
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;
    z-index: 19;
    transform-origin: top left;
    overflow-y: auto;
}

.link-container
{
    overflow-x: hidden;
    padding-top: 150px;
    padding-bottom: 50px;
    width: 100%;
    height: 100%;
    overflow-y: scroll !important;
}

.menuLink
{
    display: flex;
    padding-left: 50px;
    width: 100vw;
    height: 80px;
    margin-top: 5vh;
    background-color: #2a2a2e;
    border-top: rgba(255, 255, 255, 0.142) solid 1px;
    border-bottom: rgba(255, 255, 255, 0.142) solid 1px;
    /* transition: 0.3s ease-in-out; */
}

.menuLink:hover
{
    background-color: #3b3b3e;
    border-top: white solid 1px;
    border-bottom: white solid 1px;
    text-align: center;
}

.menuLink:hover .link
{
    color: #45FFE9;
    transform: translateX(5%)
}

.link
{
    color: #c8c8c8;
    line-height: 80px;
    text-decoration: none;
    font-family: ClashDisplay-Medium;
    font-size: 70px;
    transition: 0.3s ease-in-out;
}

.link:hover
{
    
}

/* ------------ Header section ---------------*/

.header
{
    display: flex;
    padding: 0;
    justify-content: end;
    align-items: center;
    width: 100vw;
    height: 60px;
    margin: 0;
    z-index: 20;
    padding-right: 70px;
    background-color: var(--dark-accent);
    border-bottom: 1px solid #e7e7ea;
    position: fixed;
    justify-content: space-between;
}

/* Header Links */
.navButtonGroup
{
    display: flex;
}

/* Header buttons */
.headerCTA0, .headerCTA1
{
    background-color: var(--dark-accent);
    color: black;
    font-family: Helvetica;
    font-weight: 900 !important;
    width: 150px;
    height: 100%;
}

.white-button
{
    background-color: var(--dark-accent);
    color: black;
    font-family: Helvetica;
    font-weight: 900 !important;
    width: 150px;
    height: 100%;
}

/* Canvas */
.canvas
{
    background-color: 'white';
    /* position: absolute; */
}

/* ------------ Section --------------- 1 */
.section1
{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--dark-blue);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

/* ------------ S1 CTA container ---------------*/

.section1HeaderContainer 
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

/*  S1 content container */
.h1CTAContainer
{
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

/* S1 main heading */
.sect1Header
{
    color: #fffefe;
    font-family: ClashDisplay-Bold;
    font-weight: 900;
    font-style: bold;
    display: flex;
    width: 100%;
    justify-content: start;
    margin: -5px;
    overflow: hidden;
    
}

/* S1 heading spans */
span 
{
    color: var(--bright-blue);
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left !important;
    margin-right: 10px;
}

.whiteSpan
{
    color: white;
    
}

.blueSpan 
{
    
}

/* S1 H2 heading */
h2
{
    justify-self: start;
    align-self: start;
    text-align: left;
    color: white;
    width: 100%;
    font-family: ClashDisplay-Medium;
    font-weight: 500;
    font-size: 30px;
    flex-wrap: wrap;
    overflow: hidden;
}

/* S1 H2 spans */
.subHeadSpan
{
    color: var(--bright-blue);
    font-family: ClashDisplay-Medium;
    margin: 0 !important;
}

.subHeadSpan:first-child 
{
    margin-right: -7px !important;
}

/* Container for CTA buttons */
.sect1CTAContainer
{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 100px;
    align-self: center;
    justify-self: start;
    width: 700px;
    height: 120px;
}

/* S1 CTA button container */
.CTAContainer1
{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 20px;
    font-family: Helvetica;
    font-weight: 900;
    color: rgb(31, 61, 61);
    background-color: var(--bright-blue);
    border-radius: 2px;
    width: 45% !important;
    height: 70px !important;
    position: relative;
    justify-self: center;
    align-self: center;
    margin: 20px;
    margin-left: 0 !important;
    
}



/* ------------ Section 2 ---------------*/
.section2
{
    position: sticky;
    margin-top: 10px;
    display: flex;
    overflow: hidden;
    text-align: center;
    color: white;
    padding-top: 100px;
    background-color: var(--dark-accent);
    font-size: 50px;
    height: 1500px;
    width: 100vw;
    font-family: Helvetica;
    justify-content: center;
    align-items: start;
    overflow-x: hidden;
}

.testPara
{
    width: 100%;
    position: sticky;
    justify-self: start;
    align-self: flex-start;
    font-family: ClashDisplay-Bold;
    font-weight: 300;
    font-size: 80px;
    text-align: center;
    color: black;
    z-index: 20;
    padding: 0;
    z-index: 40;
}

.slide-container
{
    display: flex;
    align-self: stretch;
    justify-self: end;
    width: max-content;
    height: calc(100vh - 60px);
    background-color: transparent;
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    overflow-x: auto;
    z-index: 19;
}

/* Test section */
 .slide 
{
    /* position: absolute;
    justify-self: center;
    align-self: end;
    height: 100vh !important;
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    */
    align-items: center;
    align-self: end;
    height: calc(100vh - 60px);
    font-size: 35px;
    display: flex;
    justify-content: center;
    position: sticky;
    width: 100vw;
    z-index: 25;
}

.slide > *
{
    text-align: center;
}

.slide0 
{
    width: 100vw;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}

.slide1 
{
    width: 100vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide2 
{   
    width: 100vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slide3
{
    width: 100vw;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 



/* ------------- Possibly won't use this section ------------ */
/* .testSection
{
    margin-top: 300px;
    width: 600px;
    height: 500px;
    background-color: #f4f4f4;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
} */

/* .smallImg
{
    height: 350px;
    width: 200px;
} */

/* .sample 
{
    margin-top: 100px;
    height: 300px;
    width: 700px;
    background-color: var(--exp-color);
}

.imgs
{
    width: 500px !important;
    height: 500px !important;
    margin-top: 1000px;
    stroke-width: 20px;
} */

/* ------------ SVG section ------------ */
.svgContainer
{
    width: 100vw !important;
    height: 1500px !important;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: 'white';
    margin-top: 1000px;
}

/* SVG path */
.cls-1 
{
    position: absolute;
    width: 500px !important;
    height: 500px !important;
    stroke-width: 20px;
    stroke: aqua;
}

/* ------------- Buttons -------------- */
button
{
    background-color: transparent;
    outline: none;
    border: none;
}

.hamburger
{
    width: 80px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 70px !important;
}

.hamburger > *:not(:first-child)
{
    width: 40px;
    margin-top: 5px;
    height: 6px;
    justify-self: center;
    align-self: center;
    background-color: rgb(101, 88, 56);
}

.hamburger-background 
{
    position: absolute;
    opacity: 0.09;
    width: 80px;
    height: 60px;
    background: #2a2a2e;
    transform: scaleX(0);
    transform-origin: top right;
    transition: transform 0.3s ease-in-out;
    will-change: transform;
}

.white-button
{
    width: 150px;
    height: 60px;
    background: white;
}

.blue-button
{
    width: 100%;
    height: 80px;
    background-color: var(--bright-blue);

    border-radius: 3px;
    margin-right: 40px;
    color: var(--background-color) !important;
}

.button-animation
{
    position: relative;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}

/* --------- Button Animate Panel ---------- */
.hamburger:hover > .hamburger-background
{
    transform: scaleX(1);
    transform-origin: top left;
}

.button-background 
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: scaleX(0);
    transform-origin: top right;
    transition: transform 0.3s cubic-bezier(0.53, 0.21, 0, 1);
    will-change: transform;
}

.label
{
    width: 100%;
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    font-style: bold;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-hover
{
    background: #2a2a2e !important;
    opacity: 0.09;
}

.blue-hover
{
    background: #ffffff !important;
    opacity: 1;
    border-radius: 3px;
}

.white-label
{
    font-family: "ClashDisplay-medium", sans-serif;
    font-family: ClashDisplay-Medium;
    font-size: 20px;
    font-weight: 500;
    font-style: bold;
    color: rgb(101, 88, 56);
}

.blue-label
{
    font-size: 25px;
    color: var(--background-color) !important;
    font-family: "ClashDisplay-Medium", sans-serif !important;
}

.button-animation:hover > .button-background
{
    transform: scaleX(1);
    transform-origin: top left;
}

/* Tests */

.hover 
{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #d7d7d7;
    width: 100%;
    height: 100%;
    opacity: .09;
    transform: scaleX(0);
    transform-origin: top right;
    transition: transform 0.3s cubic-bezier(0.53, 0.21, 0, 1);
    will-change: transform;
}

.testButton:hover > .hover
{
    transform: scaleX(1);
    transform-origin: top left;
}


/* MEDIA QUERIES ** MAY PUT THESE ELSE WHERE **  */

@media (min-width: 1600px)
{
    h1 > *
    {
        font-size: 70px !important;
    }
}

@media (max-width: 1600px)
{
    h1 > *
    {
        font-size: 60px !important;
    }
}

@media (max-width: 1300px)
{
    h1 > *
    {
        font-size: 55px !important;
    }
}

@media (max-width: 1050px)
{
    h1 > *
    {
        font-size: 50px !important;
    }
}

@media (max-width: 800px)
{
    h1 > *
    {
        font-size: 6.5vw !important;
    }

    h2 
    {
        font-size: 4vw !important;
    }
}

@media (max-width: 600px)
{
    h1 > *
    {
        /* font-size: 36px !important; */
        font-size: 2vw;
    }

   
}

@media (max-width: 500px)
{
    h1 > * 
    {
        font-size: 33px !important;
    }
}

@media (max-width: 400px)
{
    h1 > *
    {
        font-size: 30px !important;
    }
}

@media (min-width: 1600px )
{
    .section1 
    { 
        width: 1520px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}

@media (max-width: 1600px)
{
    .section1 
    { 
        width: 95vw;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}

@media (max-width: 1300px)
{
    .section1 
    { 
        width: 95vw; 
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
}

@media (max-width: 1050px) {
    .section1 
    { 
        width: 100vw; 
        border-radius: 0;
    }
}

@media (min-width: 1600px)
{
    .h1CTAContainer
    {
        width: 900px;
    }
}

@media (max-width: 1600px)
{
    .h1CTAContainer 
    { 
        width: 750px;
    }
}

@media (max-width: 1300px)
{
    .h1CTAContainer 
    { 
        width: 710px !important; 
    }
}

@media (max-width: 1050px) {
    .h1CTAContainer 
    { 
        width: 650px !important; 
        border-radius: 0;
    }
}

@media (max-width: 800px)
{
    .h1CTAContainer
    {
        width: 85% !important;
    }
}

@media (max-width: 1050px)
{
    .sect1CTAContainer
    {
        width: 600px;
    }

    .sect1CTAContainer > button > span.label
    {
        font-size: 25px !important;
    }
}

@media (max-width: 800px)
{
    .sect1CTAContainer
    {
        width: 500px !important;
    }

    .sect1CTAContainer > button > span.label
    {
        font-size: 20px !important;
    }
}

@media (max-width: 600px)
{
    .sect1CTAContainer
    {
        width: 460px !important;
        justify-content: space-evenly !important;
        justify-self: center;
    }

    .sect1CTAContainer > button > span.label
    {
        font-size: 20px !important;
    }

    .sect1CTAContainer > button
    {
        margin: 10px;
    }
}
